@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
}

h1,
span {
  font-weight: 500;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

h1 {
  text-transform: lowercase;
  letter-spacing: -0.05rem;
}

h2 {
  font-family: "Fleur De Leah", cursive;
  font-weight: 200;
}

h1 span {
  font-weight: 500;
}

.box {
  /* border: 0.5px solid #d1d5dc ; */
  /* font-size: .5rem; */
}

.snakeColor {
  background-color: rgba(255, 217, 0, 0.839);
}

.foodColor {
  background-color: wheat;
}